apiVersion: apps/v1
kind: Deployment
metadata:
  name: hive-metastore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hive-metastore
  template:
    metadata:
      labels:
        app: hive-metastore
    spec:
      containers:
        - name: hive-metastore
          image: sslhep/hive-metastore:3.1.3
          env:
            - name: SERVICE_NAME
              value: metastore
            - name: DB_TYPE
              value: postgres
            - name: POSTGRES_JDBC_URL
              value: jdbc:postgresql://postgres-metastore-postgresql:5432/metastore
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: postgres-password
---
apiVersion: v1
kind: Service
metadata:
  name: hive-metastore
spec:
  selector:
    app: hive-metastore
  ports:
    - port: 9083
      targetPort: 9083
