apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: data-processing-worker
  namespace: observability
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: enginedge
      component: data-processing-worker
  namespaceSelector:
    any: true
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
