apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.component }}
  labels:
    app: enginedge
    component: {{ .Values.component }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: enginedge
      component: {{ .Values.component }}
  template:
    metadata:
      labels:
        app: enginedge
        component: {{ .Values.component }}
    spec:
{{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{- range .Values.imagePullSecrets }}
      - name: {{ .name }}
{{- end }}
{{- end }}
      containers:
      - name: {{ .Values.component }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.port }}
        env:
{{- range .Values.env }}
        - name: {{ .name }}
          value: "{{ .value }}"
{{- end }}
        livenessProbe:
          httpGet:
            path: /health
            port: {{ .Values.port }}
          initialDelaySeconds: 20
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: {{ .Values.port }}
          initialDelaySeconds: 5
          periodSeconds: 5
